server:
  port: 8081
spring:
  application:
    name: chat-gateway
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
        username: nacos
        password: nacos
    gateway:
      globalcors:
        cors-configurations:
          '[/**]': # 匹配所有路径
            allowed-origins: # 允许的前端域名（生产环境务必指定具体域名，而非*）
              - "https://front.example.com"
              - "http://localhost:5173"  # 开发环境
            allowed-methods: # 允许的请求方法
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowed-headers: "*"  # 允许的请求头
            allow-credentials: true  # 允许携带Cookie
            max-age: 3600  # 预检请求缓存时间（减少OPTIONS请求次数）
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: chat-user-route
          uri: http://localhost:8082
          predicates:
            - Path=/user/**
        - id: chat-service-route
          uri: http://localhost:8083
          predicates:
            - Path=/room/**
        - id: chat-feedback-route
          uri: http://localhost:8084
          predicates:
            - Path=/feedback/**
        - id: chat-knowledge-route
          uri: http://localhost:8085
          predicates:
              - Path=/doc/**
        - id: chat-knowledge
          uri: lb://chat-knowledge
          predicates:
              - Path=/knowledge/**
  codec:
    max-in-memory-size: 16MB